@media screen and (min-width: 992px)
{
    .fonctionnement button 
    {
        width: 25%;
        margin: 0;
        padding-left: 30px;
    }
    .carteRestaurant{
        width: 21%;
        max-width: 335px;
    }
}