span .fa-solid
{   
    color: transparent;
    background-image: linear-gradient( to top, (#9356DC), (#FF79DA));
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    &:active{
        opacity: 1;
    }
}
@media screen and (min-width: 992px) {
    span .fa-solid{
        &:hover
        {
            opacity: 1;
        }
    }
    }

    .fonctionnement button
    {   
        &:hover{
            background-color: #9356DC60;
            color: $primary;
        }
    } 
    .buttonPink{
        &:hover
        {
            box-shadow: 0px 7px 11px rgba(0, 0, 0, 0.15);
            opacity: 0.8;
        }
    }