    .fonctionnement button 
    {
        @extend %roboto;
        @extend %fontW500;
        @extend %fontS16;
        border-radius: 25px;
        height: 72px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        text-align: start;
        padding-left: 10%;
        background-color: $lightGrey;
        border: none;
        width: 85%;
        max-width: 850px;
        min-width: 240px;
        margin: 10px 10%;
        position: relative;
        transition: background-color 250ms;
        @extend %text-center;

    }
    .buttonPink{
        @extend %fontS16;
        @extend %fontW500;
        width: 218px;
        background-image: linear-gradient( to top, (#9356DC), (#FF79DA));
        color: white;
        height: 50px;
        border-radius: 25px;
        border: none;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    }
    .menubutton{
        width: 100%;
        @extend %text-center;
   
    }