.carteRestaurant
{
    height: 251px;
    border-radius: 15px;
    max-width: 88%;
    width: 335px;
    margin: 5% auto;
    border: solid 1px $lightGrey;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

    img{
        width: 100%;
        height: 75%;
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
    }
    position: relative;
    text-decoration: none;
    color: black;
}
    
.restauCarteContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
        .infosRestau{
        width: 75%;
    p {
        margin: 10px 0px 0px 5px;
        line-height: 1em;
    }
    h4 {
        line-height: 1em;
        margin: 10px 0px 5px 5px;        
        }
    }
        .heartIc{
            margin-right: 15px;
        }
}
