.dish-card{
    display: flex;
    margin: 5px auto;
    flex-direction: row;
    width: 65%;
    min-width: 349px;
    max-width: 643px;
    background-color: white;
    border: 0px solid $darkGrey;
    border-radius: 25px;
    position: relative;
    padding-left: 5px;
    .prix
    {   @extend %fontW700;
        @extend %fontS16;
        position: absolute;
        top: 65%;
        left: 85%;
    }
    .dish-infos{
        width: 100%;
    }

    .check-dish{
        width: 25%;
        background-color: $green;
        height: 100%;
        position: absolute;
        left: 75%;
        z-index: 1;
        color: white;
        opacity: 0;
        border-radius: 0 25px 25px 0;
        
        i
        {
         @extend %fontS30;
        margin: 30px 30px;
         
        }
        
    }
}