.dish-card
{
    &:hover .prix
{
    transform: translateX(-75px);
}
    &:hover .check-dish
{
    transform: translateX(-75px);
}


    &:hover .dish-info
    {
        margin-right: 210px;
    }

}
.prix, .check-dish
{
    transition: transform 450ms ease-in-out;
}

