.dish-card
{
    background-color: white;
    width: 80%;
    @extend %flex-center;
    @extend %text-center;
    margin: 5px auto;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    padding-left: 13px;
    height: 69px;
}

    .dish-anim{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;
        .dish-info
        {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-top: 15px;
        h4{
            margin: 0;
            padding: 0;
            @extend %fontS16;
            text-align: left;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            

        }
        p{
            
            padding: 0;
            text-align: left;
            text-overflow: ellipsis;
            
        }
    }}
    .check-dish{
        
        margin: 0 -75px 0 0;
        padding-right: 10px;
        width: 75px;
        height: 130%;
        border-radius: 0 30px 30px 0;
        color: white;
        background-color: $green;
        padding: 0;
        
        
            i
            {
             @extend %fontS30;
            margin: 30px 30px;
            padding: 0; 
            }
        
    }
    .prix{
        position: absolute;
        top: 65%;
        left: 85%;
        @extend %fontW700;
    }


/*.dish-card{
    display: flex;
    margin: 5px auto;
    flex-direction: row;
    width: 65%;
    min-width: 349px;
    max-width: 643px;
    background-color: white;
    border: 0px solid $darkGrey;
    border-radius: 25px;
    position: relative;
    padding-left: 5px;
    .prix
    {   @extend %fontW700;
        @extend %fontS16;
        position: absolute;
        top: 65%;
        left: 85%;
    }
    .dish-infos{
        width: 100%;
    }

    .check-dish{
        width: 25%;
        background-color: $green;
        height: 100%;
        position: absolute;
        left: 75%;
        z-index: 1;
        color: white;
        opacity: 0;
        border-radius: 0 25px 25px 0;
        
        i
        {
         @extend %fontS30;
        margin: 30px 30px;
         
        }
        
    }
}*/