.dish-card
{
    &:hover .prix
{
    transform: translateX(-75px);
}
    &:hover .check-dish
{
    transform: translateX(-65px);
}
}
.prix, .check-dish
{
    transition: transform 450ms ease-in-out;
}

