.puce{
    background-color: $primary;
    height: 15px;
    width: 15px;
    margin-top: 17px;
    margin-right: -15px;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
    color: white;
    padding: 10px;
    z-index: 2;
}
.contenant_btn{
    display: flex;

        height: 72px;
        text-align: start;
        padding-left: 10%;
        border: none;
        width: 85%;
        max-width: 850px;
        min-width: 240px;
        margin: 10px 10%;
}