
.headerlogo{
    @extend %shriklands;
    @extend %flex-center;
    @extend %width100;
    height: 40px;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    position: relative;
}
.header_restau
{
    display: flex;
    flex-direction: row;
    height: 40px;
    a
    {
    margin-left: 45px;
    margin-top: 10px;
}   
.headerlogo{
    align-self: auto;
    margin-right: 45px;
}

}