
.logo{
    @extend %shriklands;
    @extend %flex-center;
    @extend %width100;
    position: relative;
    height: 50px;
    font-weight: 500;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
h1{
    font-size: 30px;
}
