.menu
{
    @extend %flex-center;
    flex-direction: column;
    background-color: $lightGrey;
    width: 100%;
    border-radius: 40px 40px 0px 0px;
    z-index: 2;
    width: 100%;
    max-width: 750px;
    margin-bottom: 10px;
    .header_menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @extend %shriklands;
        @extend %fontW700;
        width: 75%;
        padding-top: 25px;
        height: 55px;
        
    }
    .section_menu
    {
        width: 100%;
        margin-bottom: 35px;
        overflow: hidden;

        h3
        {
            text-align: left;
            margin-left: 8%;
        }
        hr
        {
            text-align: left;
            width: 25px;
            height: 5px;
            color: $green;
            background-color: $green;
            border: 0px;
            margin-right: 100%;
            margin-left: 8%;
            margin-top: -5px;
        }
        .desserts
        {
            margin-bottom: 20px;
        }
    }


}
.headerPhotosRestau
{
    height: 375px;
    width: 100%;
    object-fit: cover;

        z-index: 1;
        margin-bottom: -25px;
}
