.menu
{
    @extend %flex-center;
    flex-direction: column;
    background-color: $lightGrey;
    width: 100%;
    border-radius: 40px 40px 0px 0px;
    z-index: 2;
    width: 100%;
    max-width: 750px;
    margin-bottom: 10px;
    .header_restau{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .section_menu
    {
        width: 100%;
        margin-bottom: 15px;
        align-items: center;
        justify-content: center;
    }

}
.headerPhotosRestau
{
    height: 375px;
    width: 100%;
    object-fit: cover;

        z-index: 1;
        margin-bottom: -25px;
}
