/* Colors */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
.menu, .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nouveaute, .fonctionnement, input, .explor, .localisation, .fonctionnement button {
  text-align: center;
}

.Restaurants, .fonctionnement, .localisation, .logo {
  width: 100%;
}

body, .fonctionnement button {
  font-family: "Roboto", sans-serif;
}

footer h1, .logo {
  font-family: "Shrikhand", sans-serif;
}

.menu h3, .explor p {
  font-weight: 300;
}

footer h1 {
  font-weight: 400;
}

.nouveaute, footer h4, .localisation, .buttonPink, .fonctionnement button {
  font-weight: 500;
}

.dish-card .prix, .Restaurants h2, .fonctionnement h2, input, .explor h2 {
  font-weight: 700;
}

.nouveaute {
  font-size: 14px;
}

.dish-card .prix, .menu h3, footer h4, input, .buttonPink, .fonctionnement button {
  font-size: 16px;
}

.Restaurants h2, .fonctionnement h2, .explor h2 {
  font-size: 24px;
}

.dish-card .check-dish i, footer h1 {
  font-size: 30px;
}

.fonctionnement button {
  border-radius: 25px;
  height: 72px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  text-align: start;
  padding-left: 10%;
  background-color: #F7F7F7;
  border: none;
  width: 85%;
  max-width: 850px;
  min-width: 240px;
  margin: 10px 10%;
  position: relative;
  transition: background-color 250ms;
}

.buttonPink {
  width: 218px;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  color: white;
  height: 50px;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.logo {
  position: relative;
  height: 50px;
  font-weight: 500;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

h1 {
  font-size: 30px;
}

.headerPhotosRestau {
  height: 375px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  margin-bottom: -25px;
}

.localisation {
  background-color: #EAEAEA;
  color: #353535;
  height: 30px;
  justify-content: center;
  padding-top: 10px;
}

.smallIc {
  margin-right: 5px;
}

.explor {
  background-color: #F7F7F7;
  padding: 20px 5% 25px 5%;
}
.explor h2 {
  margin: 0 5%;
}
.explor p {
  margin: 0;
  padding: 2% 5%;
}

input {
  text-decoration: none;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #EAEAEA;
  color: black;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 2.5%;
  margin-top: 2.5%;
  padding-bottom: 35px;
  padding: 3% px;
}
.fonctionnement h2 {
  text-align: start;
  justify-content: flex-start;
  margin-left: 3%;
}
.fonctionnement i {
  margin-right: 15%;
}

.fonctionnement-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.carteRestaurant {
  height: 251px;
  border-radius: 15px;
  width: 88%;
  width: 335px;
  margin: 5% auto;
  border: solid 1px #F7F7F7;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
  text-decoration: none;
  color: black;
}
.carteRestaurant img {
  width: 100%;
  height: 75%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.restauCarteContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.restauCarteContainer .infosRestau {
  width: 75%;
}
.restauCarteContainer .infosRestau p {
  margin: 10px 0px 0px 5px;
  line-height: 1em;
}
.restauCarteContainer .infosRestau h4 {
  line-height: 1em;
  margin: 10px 0px 5px 5px;
}
.restauCarteContainer .heartIc {
  margin-right: 15px;
}

.Restaurants {
  display: flex;
  flex-direction: column;
  background-color: #F7F7F7;
  padding-bottom: 1%;
  height: 350px;
  height: 29%;
}
.Restaurants h2 {
  text-align: start;
  justify-content: flex-start;
  margin-left: 3%;
}
.Restaurants .restauContainer {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: white;
  padding-left: 3%;
  margin: 0;
}
footer h4 {
  line-height: 2.5em;
  margin: 5px 0px 0px 0px;
}
footer .smallIc {
  margin-right: 2px;
}

span .fa-solid {
  color: transparent;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}
span .fa-solid:active {
  opacity: 1;
}

@media screen and (min-width: 992px) {
  span .fa-solid:hover {
    opacity: 1;
  }
}
.fonctionnement button:hover {
  background-color: rgba(147, 86, 220, 0.3764705882);
  color: #9356DC;
}

.buttonPink:hover {
  box-shadow: 0px 7px 11px rgba(0, 0, 0, 0.15);
  opacity: 0.8;
}

.puce {
  background-color: #9356DC;
  height: 15px;
  width: 15px;
  position: absolute;
  top: 19px;
  left: -14px;
  border-radius: 25px;
  text-align: center;
  justify-content: center;
  color: white;
  padding: 10px;
}

.nouveaute {
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
  top: 19px;
  left: 65%;
  width: 73px;
  max-width: 33%;
  height: 18px;
}

@media screen and (min-width: 992px) {
  .fonctionnement button {
    width: 25%;
    margin: 0;
    padding-left: 30px;
  }
  .carteRestaurant {
    width: 21%;
    max-width: 335px;
  }
}
@media screen and (min-width: 992px) {
  header {
    height: 326px;
  }
  .fonctionnement-container {
    flex-direction: row;
    justify-content: space-around;
  }
  .fonctionnement i {
    margin-right: 15px;
    margin-left: 5px;
  }
  #RSTConainer {
    flex-direction: row;
    justify-content: center;
    height: 90%;
    max-height: 450px;
  }
  footer {
    flex-direction: row;
    height: 114px;
    width: 100%;
    justify-content: flex-end;
  }
  footer h1 {
    order: 2;
    margin-right: 85px;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 70px;
    margin-top: 20px;
    width: 45%;
    max-width: 850px;
    min-width: 600px;
  }
}
.headerLogo {
  width: 162px;
  height: 39px;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.menu {
  flex-direction: column;
  background-color: #F7F7F7;
  width: 100%;
  border-radius: 45px 45px 0px 0px;
  z-index: 2;
  padding-bottom: 25px;
}
.menu h3 {
  text-decoration: underline;
  color: #353535;
  margin-left: 18%;
}
.menu .section_menu {
  width: 100%;
  margin-bottom: 15px;
}
.menu .section_menu h4 {
  font-size: 16px;
  text-decoration: none;
}

.dish-card {
  display: flex;
  margin: 5px auto;
  flex-direction: row;
  width: 65%;
  min-width: 349px;
  max-width: 643px;
  background-color: white;
  border: 0px solid #353535;
  border-radius: 25px;
  position: relative;
}
.dish-card .prix {
  position: absolute;
  top: 65%;
  left: 85%;
}
.dish-card .dish-infos {
  width: 100%;
}
.dish-card .dish-anim {
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: white;
}
.dish-card .check-dish {
  width: 15%;
  background-color: #99E2D0;
  height: 100%;
  position: absolute;
  left: 85%;
  z-index: 1;
  color: white;
}
.dish-card .check-dish i {
  margin: 30px 30px;
}

.dish-anim:hover {
  transform: scaleX(0.85);
}

body {
  background-color: #FFFFFF;
  margin: 0 auto;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

main {
  min-height: 63vh;
}/*# sourceMappingURL=style.css.map */